

body {
    /* This is a font family page*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}


.logo {
    /* This is the unique AI Image I created for a logo*/
    height: 150px;
    padding: 14px 30px;
    background-position: left;
    float: left;
    margin-bottom: 0;
}

.nav {
    /*navigation menu on the top right side of the page*/
    position: relative;
    padding: 35px 25px;
    text-decoration: none;
    text-align-last: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: black;
    width: 100%;
}

.header {
    display:inline-block;
}

.aside {
    /*name + intro text left side of my avatar*/
    text-align: left;
    width: 25%;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 75px;
    padding-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
    
.avatar {
    /*unique image as my avatar*/
    margin-top: 50px;
    float: right;
    width: 65%;
    margin-bottom: 250px;
}


.project {
    flex: 0 0 250px;
    margin: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;
}


.project:hover {
    scale: 1.2
}


.project_cards {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}


.project_div {
    margin: 20px;
}


#accessibility {
    width: 400px;
    height: 400px;
    background-image: url("..//images/Horiseon.jpg");
    background-size: cover;
    background-position: center;
}


#kcp {
    width: 400px;
    height: 400px;
    background-image: url("..//images/KCP\ app\ cover\ art\ 1.png");
    background-size: cover;
}


#starbucks {
    width: 400px;
    height: 400px;
    background-image: url("..//images/Starbucks\ app.png");
    background-size: cover;
}


#girl_city_view {
    width: 400px;
    height: 400px;
    background-image: url("..//images/girl_city_view.jpg.png");
    background-size: cover;
}


#flower_textile {
    width: 400px;
    height: 400px;
    background-image: url("..//images/Textiles.png");
    background-size: cover;
}


#girl_buisness {
    width: 400px;
    height: 400px;
    background-image: url("..//images/girl_business.jpg");
    background-size: cover;
}

.buffer {
    padding-top: 100px;

}

.footer {
    text-align: left;
    padding-top: 75px;
}


@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
    .aside{
        font-size: 14px
    }

}